<div class="article-list">
  <div class="container">
    <div *ngFor="let q of newPosts" class="row articles">
      <div *ngFor="let p of q" class="col-sm-6 col-md-4 item" data-aos="fade" data-aos-duration="3000"
           data-aos-once="true"><a
        [routerLink]="['/admin/post/', p._id]" routerLinkActive="active">
        <img class="img-fluid" src="{{p.imagePath}}"></a>
        <h3 class="name">{{p.title}}</h3>
        <p class="description">Posted By {{p.author}}</p>
        <a [routerLink]="['/admin/post/', p._id]" class="action" routerLinkActive="active"><i
          class="fa fa-arrow-circle-right"></i></a>
        <button class="btn btn-outline-primary btn-sm" style="margin-top: 5px" type="button" [routerLink]="['/admin/update/', p._id]" routerLinkActive="true">Update</button>
      </div>
    </div>
  </div>
</div>
