<div class="team-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Team </h2>
      <p class="text-center">Team Personal Blog</p>
    </div>
    <div class="row people">
      <div class="col-md-6 col-lg-4 item">
        <div class="box"><img class="rounded-circle" src="../../assets/img/1.jpg">
          <h3 class="name">Sahil Bhuva</h3>
          <p class="title">CEO</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box"><img class="rounded-circle" src="../../assets/img/2.jpg">
          <h3 class="name">Monkey D. Luffy</h3>
          <p class="title">Writer</p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="box"><img class="rounded-circle" src="../../assets/img/3.jpg">
          <h3 class="name">Naruto</h3>
          <p class="title">Editor</p>
          <p class="description"></p>
          <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
